@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
#RST{
   text-align: center;
  font-family:'Montserrat';
  font-size: 50px; 
}
.beforeButton {
  text-align: center;
  font-family:'Open Sans';
  font-size: 30px;
}

.button3 {
  color: white;
  background: darkturquoise;
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.4s;
  margin-bottom: 20px;
}

/* Styling for the third button when hovering over it */
.button3:hover {
  color: white;
  background: #00bfff;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0 0 1px 5px rgb(0, 191, 255), 0 0 1px 10px rgba(0, 191, 255, 0.1);
}

#AboutH{
   text-align: center;
  font-family:'Montserrat';
  font-size: 40px; 
    }
#Background1{
    text-align: center;
}
#about{
    font-family: 'Open Sans'
}
.AboutHP{
 text-align: center;
}
body {
  font-family: 'Coming Soon', cursive;
  transition: background 1s ease;
   background: #3498db;
}  
